* {
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.game {

  /* background-image: url(bio.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
}

.containerLivesScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#scoreText {
  color: white;
  font-size: 20px;
  left: 0;
}

#livesText {
  right: 0;
  color: white;
  font-size: 20px;
  text-align: right;
}

.danger-line {
  width: 100%;
  height: 25px;
  background-color: transparent;
  position: absolute;
  position: absolute;
  bottom: 0;
}

.fruit {
  width: 50px;
  height: 50px;
  /*     border: 1px solid green;  */
  position: absolute;
  margin-top: -100px;
  background-image: url(chips.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.startGame {
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.enemy {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: -100px;
  background-image: url(skull.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.basket {
  width: 80px;
  height: 50px;
  position: absolute;
  bottom: 25px;

}

.onePoint {
  transition: opacity 1s ease-in-out;
  color: white;
  padding: 2%;
  width: 40px;
  z-index: 55;
  font-size: 30px;
  margin: auto;
}



.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
}










.catch-animation {
  animation-name: catch;
  animation-duration: 0.3s;
}

@keyframes catch {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.catch-enemy-animation {
  display: inline-block;
  animation: catch-enemy-animation .5s infinite;
}

@keyframes catch-enemy-animation {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}